* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  display: grid;
  justify-content: center;
  padding: 72px 104px;

  background: #121214 ;

  font-family: 'Mulish', sans-serif;
}

header h1{
  font-size: 58px;
  color: #02799d;
  font-weight: 900;
  line-height: 72px;
}

header p{

  font-size: 32px;
  color: white;
  font-weight: normal;
}

main{
  margin-top: 63px;
  display: grid;

  grid-template-columns:repeat(3, 370px);

  column-gap: 60px;
  row-gap: 40px;

}

.card{
  border-radius: 8px;
  border: 2px solid #323238;
  background:#202024;
  overflow: hidden;
}

.card h2{
  font-size: 36px;
  color: white;
  font-weight: 900;
  padding: 24px 32px 0;
}


.card p{
  font-size: 18px;
  color: #ffffff;
  font-weight: 600;
  padding: 24px 32px 32px;
}
